/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-data-api-todos-block {
	padding: 5px;
}

.todos {
	list-style: none;
    padding: 0;
}

.todo {
	display: flex;
}

.edit-post-visual-editor .todo__remove {
    padding-bottom: 20px;
}

.todo__form {
    display: flex;
    gap: 10px;

	input {
		height: 36px;
	}
}
